nav{
text-align: center; color:black; background-color:white; width:auto; font-size:28px; border-style:ridge; border-width:4px; margin-bottom: 15px;
}
nav a:link { color: #3F2860; }
nav a:visited { color: #497777; }
 nav a:hover { color: #A26100; border: 3px inset #333333; 
}
aside { text-align:center;
      }
header{
      background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnN5cjZyZGNtdW8zcDFjY2R3OXJ0a3V2ZzhhY2F2M3Ywa2Q4anppNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/H7F0zSaC9ZHZC/giphy.gif);
      
